.company-main-container{
    /* background-color: #f6f4fe; */
    margin-top:70px;
}
.company-container{
width:80%;
/* border:1px solid black; */
margin:auto;
}
.company-heading>h2{
    width:80%;
color: #32236F;
font-size: 40px;
/* font-family: "Poppins, sans-serif"; */
text-align: center;
margin:auto;
}
.company-heading>h2>span{
    color: #6A49F2;
}

.company-para{
    color:#3E3F66;
    font-size: 14px;
/* font-family: "Poppins, sans-serif"; */
} 

.company-para1{
    line-height: 0;
    font-size: 14px;
/* font-family: "Poppins, sans-serif"; */
    margin-top:-1.3rem;
}

.divflex{
    /* border:1px solid black;  */
     display: flex;
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
}
.divflex>img{
    /* display: flex; */
    /* display: block; */
    
}

@media only screen and (min-width: 990px){
    
}