.container {
    color: #3E3F66;
    font:14px;
    /* font-family:""; */
    display: flex;
    align-items: center;
    background-color:rgb(246,244,254);
    height:5.2rem;
}
.navbar{
    padding:10px;
    /* display: block; */
    box-sizing: border-box;
    width: 80%;
    height:40px;
    /* border:1px solid black; */
    margin:auto;
    display: flex;
    gap:50px;
    justify-content: space-around;
    align-items: center;
    /* overflow-y: hidden; */
    
}
.navbar >img{
    height: 30px;
    width:150px;
}
.navbar .nav-items{
    display: flex;
    font-size: 16px;
    gap:50px;
}
.icon_btn{
    /* height: 2.8rem; */
    width:fit-content;
    height: 40px;
    width:9.18rem;
    /* border:1px solid black; */
    background-color: #6A49F2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
@media only screen and (min-width: 990px){
    .toggle-bar{
        display: none;
    }
}
@media only screen and (max-width: 990px){
    .navbar{
        justify-content: space-between;
    }
    .navbar> .nav-items{
        /* background-color: yellow; */
        display: none;
    }
    .toggle-bar {
        width: 25px;
        margin: 10px 0;
        position: relative;
        border-top: 4px solid var(--body-text-purple);
        display: block;
    }
    .toggle-bar {
        width: 25px;
        margin: 10px 0;
        position: relative;
        border-top: 4px solid var(--body-text-purple);
        display: block;
    }
    .toggle-bar::before, .toggle-bar::after {
        content: "";
        display: block;
        background: var(--body-text-purple);
        height: 4px;
        width: 30px;
        position: absolute;
        top: -12px;
        right: 0px;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -ms-transform-origin: 13%;
        -webkit-transform-origin: 13%;
        transform-origin: 13%;
    }
    .toggle-bar::after {
        top: 4px;
    }
}