
.feature-main-container{
    /* background-color: #f6f4fe; */
    width:100vw;
}

.feature-container{
    width:80%;
    margin:auto;
}
.feature-heading{
    margin-bottom:16rem;
    
}
.feature-heading>h2{
    font-size: 40px;
/* font-family: "Poppins, sans-serif"; */
    margin-bottom:0;
}
.feature-heading>h2>span{
    color: #6A49F2;
}

.feature-heading>p{
    font-size: 16px;
    color: 3E3F66;
}
.feature-heading> .feature-para1{
    margin-top:-10px;
   
}

.feature-mobile-container{
    /* height: 506px; */
    /* position: relative; */
    background-color: #FFFFFF;
    border-radius: 50px;
    display:flex;
    gap:40px;
    /* justify-content: start; */
    /* text-align: start; */
}

.feature-mobile{
    /* position: absolute; */
    /* bottom:10rem; */
    margin-top:-12.5rem;
}

.first-feature-box{
    text-align:end
}
.last-feature-box{
    text-align: start;
}

@media only screen and (max-width: 760px){
    .feature-heading{
        margin-bottom:1rem;
        
    }

.feature-mobile-container{
    border-radius: 20px;
    position: relative;
    height:115rem;

}
.feature-mobile{
    position: absolute;
    top:15rem;
    left: 50%;
    transform: translate(-50%);
}
.feature-mobile> img{
    height:582px;
    width:282px;
}
.last-feature-box{
    position: absolute;
    text-align: center;
    top:45rem;
}
.first-feature-box{
    position: absolute;
    top:80rem;
    text-align: center;
}
}
